{{! {{#if siteSettings.tagging_enabled}}
{{!   {{#link-to 'preferences.switch_content_language'}}
{{! {{i18n 'switch_content_language.user_preferences.language'}}
{{! {{/if}}

{{! {{#if siteSettings.enable_content_language_switching}}
<li class='nav-content-language'>
  <a>{{i18n 'user_preferences.content_language'}}</a>
</li>
{{! {{/if}}
