

<div class="control-group pref-email-settings">

  <label class="control-label">{{i18n 'user_preferences.content_language'}}</label>

  <div class='controls controls-dropdown'>

    <label>{{i18n 'user_preferences.content_language_instructions'}}</label>

    {{combo-box valueAttribute="value" content=contentLanguageOptions value=languageSelection}}

  </div>

</div>

